html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF8C00;
    --secondary-color: #f0f0f0;
}

.hidden {
    display: none;
}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    background: radial-gradient(circle farthest-corner at center center, rgb(1, 35, 58), rgb(0, 0, 0));
}

.container {
    margin-left: 5.2vw;
}

.row__post {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posts {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;
}

.row__post:hover {
    transform: scale(1.08);
}

.row__posts::-webkit-scrollbar {
    display: none;
}

.row_postL {
    max-height: 250px;
}

.row_postL:hover {
    transform: scale(1.10);
}

.row {
    color: white;
    margin-left: 20px;
}

.banner {
    background: url("images/banner\ \(1\).jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    object-fit: contain;
    height: 448px;

}

.banner__content {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_des {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
    color: #111;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(54, 4, 172, 0.137), #021a29);
}

.nav {
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    font-size: 5px;
    justify-content: right;
    padding: 12px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    background-color: #010d14;
    align-items: center;
}

.nav li {
    display: inline-block;
    margin-right: 25px;
    cursor: pointer;
    color: rgb(161, 161, 161);
    font-size: 2rem;
    transition: all 0.5s;
}

.nav li:hover {
    color: #e6e6e6;
}

.nav li.active {
    color: #ffffff;
    box-shadow: 0 3px 0 0 #FF8C00;
    border-radius: 3%;
    transition: all 0.5s;
}

.nav_black {
    background-color: #111;
    transition: all 0.5s;
}

.nav_logo {
    width: 80px;
}

.logo {
    z-index: 100;
    position: fixed;
    top: 3%;
    left: 1%;
    width: 5%;
}

/* Sidebar base styling */
#sidebar {
    z-index: 80;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100px;
    font-size: 20px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    transition: width 1s ease, font-size 1s ease;
}

#sidebar:hover {
    width: 35%;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: left;
    backdrop-filter: blur(1.5px);
    overflow: visible;
}

#sidebar:hover ul li {
    opacity: 0;
    transform: translateX(-10px);
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Ocultar scrollbar */
#sidebar::-webkit-scrollbar {
    display: none;
}

#categories-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-left: 1.4vw;
    gap: 20px;
}

#categories-menu li {
    margin: 10px 0 25px 0;
    /* Combined and increased spacing */
}

#categories-menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #b8b7b7;
    gap: 10px;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    /* Adicionado transição para cor e transformação */
}

#categories-menu a:hover {
    color: #ffffff;
    transform: scale(1.05);
}

#categories-menu a.active {
    color: #fff;
    box-shadow: 0 3px 0 0 #FF8C00;
    border-radius: 3%;
}

/* Hover link styling */
#categories-menu a:hover {
    color: #ffffff;
    /* Azul */
}

/* Ícones sempre visíveis */
#categories-menu i {
    font-size: 1.5rem;
    vertical-align: middle;

}

/* Adicionar espaçamento à direita do ícone quando a sidebar estiver em hover */
#sidebar:hover #categories-menu i {
    margin-right: 8px;
    /* Ajuste o valor conforme necessário */
}

/* Texto do menu escondido por padrão */
.menu-text {
    display: none;
    vertical-align: -3px;
}

/* Mostrar o texto quando em hover */
#sidebar:hover .menu-text {
    display: inline;
    margin-left: 6px;
    /* Adicionar espaçamento à esquerda do texto do menu */
}

/* Adicionar espaçamento nos itens ao expandir */
#sidebar:hover #categories-menu a {
    padding-left: 5px;
}

#categories-menu li {
    margin: 0px 0px 20px 0;
    /* Combined and increased spacing */
}


#categories-menu .separator {
    display: none;
    /* Hide by default */
    vertical-align: 0px;
}

#sidebar:hover #categories-menu li a.active .separator,
#sidebar:hover #categories-menu li a:hover .separator {
    display: inline;
    /* Show when the link is active or hovered AND sidebar is hovered */
}

/* Layout flexível para categorias e canais */
.channels-layout {
    display: flex;
    gap: 20px;
    /* Espaço entre categorias e canais */
}

/* Estilos para a lista de categorias */
.categories {
    width: 20vw;
    overflow-y: auto;
    height: 85vh;
    scrollbar-width: none;
    background-color: #010d14;
}

.categories {
    padding: 10px;
    border-radius: 0px;
    width: 260px;
}

.categories .category-button {
    display: block;
    width: 100%;
    background-color: #3a3a3a00;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
}

.category-button:hover {
    outline: 2px solid #FF8C00;
}

/* Estilos para botões de categoria ativos */
.category-button.active {
    font-weight: bold;
    background-color: #FF8C00 !important;
    /* Cor de destaque para o botão ativo */
    color: #000 !important;
    /* Cor do texto para o botão ativo */
}

/* Estilos para a área de exibição dos canais */
.channels-display {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    scrollbar-width: none;
}

.channels-display .channel {
    flex: 1 1 150px;
    min-width: 150px;
    max-width: 200px;
    min-height: 200px;
    max-height: 250px;
    background-color: #3c3c3c65;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.channels-display .channel img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 4px;
    object-fit: cover;
}

.channels-display .channel p {
    margin: 10px 0 0;
    font-size: 14px;
    word-break: break-word;
}

/* Layout flexível para categorias e filmes */
.vod-layout {
    display: flex;
    gap: 20px;
}

/* Estilos para a lista de categorias de filmes */
.vod-categories {
    width: 20vw;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 85vh;
    scrollbar-width: none;
    background-color: #010d14;
}

.vod-categories {
    padding: 10px;
    border-radius: 0px;
    width: 260px;
}

.vod-categories .category-button {
    display: block;
    width: 100%;
    background-color: #3a3a3a00;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
}

.vod-categories .category-button:hover {
    outline: 2px solid #FF8C00;
}

.vod-display {
    flex: 1;
    /* Ocupa o espaço restante */
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    /* Adiciona scroll se houver muitos filmes */
    max-height: 80vh;
    /* Altura máxima para evitar que ultrapasse a tela */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    /* Cria colunas dinâmicas */
    gap: 10px;
    /* Espaço entre os filmes */
    scrollbar-width: none;
    /* Remove a barra de scroll no Firefox */
}

.season-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Espaço entre os botões de temporada */
    margin-bottom: 20px;
    /* Espaço abaixo do seletor de temporadas */
}

#season {
    /* Remova a aparência padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Estilos de fundo e borda */
    background-color: #333;
    /* Cor de fundo escura */
    color: #fff;
    /* Cor do texto branca */
    border: 1px solid #555;
    /* Borda sutil */
    border-radius: 5px;
    /* Cantos arredondados */
    padding: 10px 15px;
    /* Espaçamento interno */
    font-size: 1em;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Cursor de ponteiro ao passar o mouse */
    outline: none;
    /* Remove o contorno ao focar */
    width: 200px;
    /* Largura fixa, ajuste conforme necessário */

    /* Adicione um ícone de seta personalizado (opcional) */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M287%2069.4L146.2%20209.2%205.4%2069.4c-1.8-1.8-4.7-1.8-6.5%200l-2.9%202.9c-1.8%201.8-1.8%204.7%200%206.5l150.4%20150.4c1.8%201.8%204.7%201.8%206.5%200l150.4-150.4c1.8-1.8%201.8-4.7%200-6.5l-2.9-2.9c-1.9-1.8-4.7-1.8-6.5%200z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
    /* Espaço para a seta */
}

/* Estilo para as opções dentro do select */
#season option {
    background-color: #444;
    /* Cor de fundo das opções */
    color: #fff;
    /* Cor do texto das opções */
}

/* Estilo ao passar o mouse sobre o select */
#season:hover {
    border-color: #777;
}

/* Estilo ao focar no select */
#season:focus {
    border-color: #007bff;
    /* Cor da borda ao focar */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    /* Sombra ao focar */
}

.vod-display .movie {
    background-color: #3c3c3c00;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vod-display .movie img {
    max-width: 100%;
    /* A imagem não ultrapassa a largura do filme */
    border-radius: 4px;
    object-fit: cover;
    /* Garante que a imagem cubra o espaço sem distorcer */
}

/* Layout flexível para categorias e séries */
.series-layout {
    display: flex;
    gap: 20px;
}

/* Estilos para a lista de categorias de séries */
.series-categories {
    width: 20vw;
    overflow-y: auto;
    height: 85vh;
    scrollbar-width: none;
    background-color: #010d14;
}

.series-categories {
    padding: 10px;
    border-radius: 0px;
    width: 260px;
}

.series-categories .category-button {
    display: block;
    width: 100%;
    background-color: #3a3a3a00;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
}

.series-categories .category-button:hover {
    outline: 2px solid #FF8C00;
}

/* Estilos para a área de exibição das séries */
.series-display {
    flex: 1;
    /* Ocupa o espaço restante */
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
    /* Adiciona scroll se houver muitos filmes */
    height: 85vh;
    /* Altura máxima para evitar que ultrapasse a tela */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    /* Cria colunas dinâmicas */
    gap: 10px;
    /* Espaço entre os filmes */
    scrollbar-width: none;
    /* Remove a barra de scroll no Firefox */
}

.series-display .serie {
    background-color: #3c3c3c00;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.series-display .serie img {
    max-width: 100%;
    border-radius: 4px;
    object-fit: cover;
}


/* Search Page Styles */
.search-container {
    margin-left: 30px;
    margin-top: 30px;
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px transparent;
    width: 100%;
    max-width: 600px;
    /* Aumentar a largura máxima para acomodar os dois elementos */
    text-align: center;
    display: flex;
    /* Adicionar display flex para centralizar o wrapper */
    justify-content: center;
    /* Centralizar o wrapper */
}

.keyboard-and-search-wrapper {
    display: flex;
    gap: 20px;
    /* Espaço entre o teclado e a barra de pesquisa */
    align-items: flex-start;
    /* Alinha os itens ao topo */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    width: 100%;
    /* Garante que o wrapper ocupe a largura total disponível */
    flex-wrap: wrap;
    /* Permite que os itens quebrem a linha em telas menores */
}

.search-bar {
    position: fixed;
    top: 145px;
    left: 770px;
    display: flex;
    margin-bottom: 20px;
    height: 60px;
    border-bottom: 3px solid #444;
    width: 55%;
    flex-grow: 1;
    border-radius: 5px;
    overflow: hidden;
}

#searchInput {
    flex-grow: 1;
    padding: 15px 15px 15px 50px; /* top, right, bottom, left */
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.4em;
    outline: none;
}

.search-bar i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
    font-size: 1.4em;
}

#searchInput::placeholder {
    color: #bbb;
}

.keyboard-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 6 columns */
    gap: 10px;
    /* Space between keys */
    width: 500px;
    /* Manter largura para o teclado */
    flex-shrink: 0;
    /* Impede que o teclado encolha */
}

.keyboard-row {
    display: contents;
}

.key {
    background-color: #333;
    /* Dark background */
    color: #f0f0f0;
    /* White text */
    border: none;
    border-radius: 8px;
    /* Rounded corners */
    padding: 5px;
    font-size: 1.6em;
    /* Larger font size */
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    text-transform: lowercase;
    width: 100%;
    /* Make keys fill the grid cell */
    aspect-ratio: 1 / 1;
    /* Make keys square */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Subtle shadow */
}

.key:hover {
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.key:active {
    background-color: #666;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.key.active {
    background-color: #f0f0f0;
    /* Highlight color */
    color: #333;
    /* Dark text for highlight */
    font-weight: bold;
}

/* Styles for numbers and special characters */
.keyboard-row.numbers-symbols {
    display: contents;
    /* Show numbers and symbols row */
}

.backspace-key,
.space-key,
.delete-key {
    background-color: #333;
    /* Dark background */
    color: #f0f0f0;
    /* White text */
    font-weight: bold;
    border: none;
    border-radius: 8px;
    /* Rounded corners */
    padding: 5px;
    font-size: 1.7em;
    /* Larger font size */
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    text-transform: lowercase;
    width: 100%;
    /* Make keys fill the grid cell */
    aspect-ratio: 1 / 1;
    /* Make keys square */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* Subtle shadow */
}

.backspace-key:hover,
.space-key:hover,
.delete-key:hover {
    background-color: #666;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Mantém os botões normais quadrados */
.key {
    aspect-ratio: 1 / 1;
}

/* Botões especiais: ocupam 2 colunas, mas com altura normal */
.backspace-key,
.space-key,
.delete-key {
    grid-column: span 2;
    aspect-ratio: auto;
    height: 70px;
    font-size: 1.9em;
}

/* Login Screen Styles */
.login-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    color: #f0f0f0;
    position: fixed;

}

.login-screen .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-login {
    width: 130px;
    margin-left: 180px;
    animation: fadeIn 1s ease-in-out;
}

.login-form {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.849);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.login-form h1 {
    margin-top: 0;
    color: #f0f0f0;
    font-size: 2em;
}

.login-form input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1.1em;
    outline: none;
}

.login-form input::placeholder {
    color: #888;
}

#continueButton {
    background-color: #FF8C00;
    /* Orange color */
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#continueButton:hover {
    background-color: #e67e00;
}

.logo-menu {
    width: 70px;
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 90;
}

.logo-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
